.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  top: 0;
}

app-dashboard-sidebar {
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 50%; /* Assuming sidebar width from the sidebar component */
  z-index: 1000;
}

app-dashboard-main-content {
  margin-left: 250px; /* Same as the sidebar width to align content next to the sidebar */
  width: calc(100% - 250px);
  padding-top: 80px;
  height: 100%;
  overflow: auto;
}
