<head>
    <!-- ... autres balises meta et liens ... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- ... autres liens CSS ... -->
</head>
<header class="bg-transparent shadow-lg py-4 px-10 fixed top-0 left-0 w-full z-50 backdrop-blur-md backdrop-brightness-75">
  <div class="flex justify-between items-center">
    <div class="text-3xl font-bold transform transition-transform duration-500 hover:scale-110">
      <span class="text-blue-600 transform transition-transform duration-500 hover:scale-125 hover:text-blue-800">ZE</span><span class="text-black transform transition-transform duration-500 hover:scale-125 hover:text-gray-800">TA</span>
    </div>
    <nav class="flex space-x-6">
      <a href="#" class="text-white hover:text-blue-600 transition-all duration-300 hover:underline">Pricing</a>
      <a href="#" class="text-white hover:text-blue-600 transition-all duration-300 hover:underline">Contact</a>
      <a href="#" class="text-white hover:text-blue-600 transition-all duration-300 hover:underline">Blog</a>
    </nav>
    <button (click)="showLoginForm = !showLoginForm" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-all duration-300 transform hover:scale-105">Login</button>
  </div>
</header>
<div *ngIf="showLoginForm" class="fixed inset-0 p-4 flex flex-wrap justify-end items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.3)] overflow-auto font-[sans-serif]">
  <div class="w-full max-w-lg bg-white bg-opacity-90 backdrop-blur-sm shadow-lg rounded-lg p-8 relative">
      <i (click)="showLoginForm = false" class="fas fa-times w-3.5 cursor-pointer shrink-0 text-gray-400 hover:text-red-500 float-right"></i>

      <div class="my-8 text-center">
          <h4 class="text-3xl text-gray-800 font-extrabold">Sign In</h4>
          <p class="text-sm text-gray-500 mt-4">Login to your account to continue the process</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
          <div class="relative flex items-center">
              <input type="email" formControlName="email" placeholder="Enter Email"
                  class="px-4 py-3 bg-white bg-opacity-70 text-gray-800 w-full text-sm border border-gray-300 focus:border-blue-600 outline-none rounded-lg" />
              <i class="fas fa-envelope w-[18px] h-[18px] absolute right-4 text-gray-400"></i>
          </div>

          <div class="relative flex items-center">
              <input type="password" formControlName="password" placeholder="Enter Password"
                  class="px-4 py-3 bg-white bg-opacity-70 text-gray-800 w-full text-sm border border-gray-300 focus:border-blue-600 outline-none rounded-lg" />
              <i class="fas fa-eye w-[18px] h-[18px] absolute right-4 cursor-pointer text-gray-400"></i>
          </div>

          <div class="flex">
              <input type="checkbox" class="w-4" />
              <label class="text-sm ml-4 text-gray-500">Remember me</label>
          </div>

          <button type="submit"
              class="px-5 py-2.5 !mt-8 w-full bg-blue-600 bg-opacity-90 hover:bg-blue-700 text-white text-sm rounded-lg tracking-wide">Sign
              in</button>
      </form>

      <a href="javascript:void(0)" class="text-sm text-blue-600 text-center mt-4 block hover:underline">Forgot Your
          Password?</a>

      <hr class="my-8 border-gray-300" />

      <p class="text-sm text-center text-gray-500">Don't Have a Account? <a href="javascript:void(0)"
          class="text-sm text-blue-600 hover:underline">Sign Up</a></p>
  </div>
</div>

<main class="pt-0">
  <!--... contenu de la page... -->
<section class="hero flex flex-col justify-center items-start text-left p-10" style="background-image: url('https://media.healthecareers.com/wp-content/uploads/2022/12/14191331/Shutterstock_2258359267.jpg'); background-size: cover; background-position: center; width: 100%; height: 700px;">
  <div class="text-left w-full mt-40">
    <h1 class="text-7xl font-extrabold text-white mb-4" style="text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);">Our SaaS Platform</h1>
    <p class="text-3xl text-black font-serif mb-6">SaaS for brain tumor detection using <br> deep learning for hospitals and healthcare specialists.</p>
    <button class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700 transition-all duration-300 transform hover:scale-105">View Pricing</button>
  </div>
  <div class="font-[sans-serif] text-[#333] flex justify-center items-center text-center w-full mb-2 h-full shadow-lg transform transition-transform duration-500 hover:scale-110 hover:rotate-3 && hover:-rotate-3 hover:skew-y-3">
    <div class="w-full mx-auto flex justify-center items-center h-full">
      <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-x-48 gap-10 h-full items-end">
        <div class="mx-auto">
          <div class="w-28 h-28 flex items-center justify-center shrink-0 border-2 rounded-full animate-pulse">
            <h3 class="text-4xl font-extrabold text-white">{{hospitals}}+</h3>
          </div>
          <div class="text-center mt-4">
            <p class="text-xl font-extrabold text-white mb-4" style="text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);">Hopitaux</p>
          </div>
        </div>
        <div class="mx-auto">
          <div class="w-28 h-28 flex items-center justify-center shrink-0 border-2 rounded-full animate-pulse">
            <h3 class="text-4xl font-extrabold text-white">{{specialists}}+</h3>
          </div>
          <div class="text-center mt-4">
            <p class="text-xl font-extrabold text-white mb-4" style="text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);">Specialists</p>
          </div>
        </div>
        <div class="mx-auto">
          <div class="w-28 h-28 flex items-center justify-center shrink-0 border-2 rounded-full animate-pulse">
            <h3 class="text-4xl font-extrabold text-white">{{detections}}+</h3>
          </div>
          <div class="text-center mt-4">
            <p class="text-xl font-extrabold text-white mb-4" style="text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);">Detections</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--... contenu de la page... -->  
<section class="services py-20 bg-gray-100 relative overflow-hidden">
  <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover" playsinline>
    <source src="assets/vid.mp4" type="video/mp4">
  </video>
  <div class="absolute inset-0 bg-gradient-to-r from-blue-900 via-blue-500 to-blue-300 opacity-50 animate-gradient-x"></div>
  <div class="relative font-[sans-serif] py-4 mx-auto lg:max-w-6xl max-w-lg md:max-w-full">
    <h2 class="text-4xl font-extrabold text-white mb-12 text-center" style="text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);">Nos Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="bg-white rounded-xl cursor-pointer hover:scale-[1.05] transition-transform duration-300 shadow-lg hover:shadow-2xl relative overflow-hidden">
        <div class="p-6">
          <div class="w-2/3 h-[220px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="assets/g1.png" alt="Glioblastome" class="h-full w-full object-contain transform transition-transform duration-300 hover:scale-110" />
          </div>
        </div>
        <div class="text-center bg-blue-300 p-6">
          <h3 class="text-lg font-bold text-gray-800">Détection de Glioblastome</h3>
          <p class="text-gray-700 mt-6">Utilisation de l'apprentissage profond pour détecter les glioblastomes avec une grande précision.</p>
        </div>
      </div>
      <div class="bg-white rounded-xl cursor-pointer hover:scale-[1.05] transition-transform duration-300 shadow-lg hover:shadow-2xl relative overflow-hidden">
        <div class="p-6">
          <div class="w-2/3 h-[220px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="assets/m1.png" alt="Méningiome" class="h-full w-full object-contain transform transition-transform duration-300 hover:scale-110" />
          </div>
        </div>
        <div class="text-center bg-blue-300 p-6">
          <h3 class="text-lg font-bold text-gray-800">Détection de Méningiome</h3>
          <p class="text-gray-700 mt-6">Nos modèles de deep learning sont entraînés pour identifier les méningiomes avec une grande précision.</p>
        </div>
      </div>
      <div class="bg-white rounded-xl cursor-pointer hover:scale-[1.05] transition-transform duration-300 shadow-lg hover:shadow-2xl relative overflow-hidden">
        <div class="p-6">
          <div class="w-2/3 h-[220px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="assets/h1.png" alt="Adénome hypophysaire" class="h-full w-full object-contain transform transition-transform duration-300 hover:scale-110" />
          </div>
        </div>
        <div class="text-center bg-blue-300 p-6">
          <h3 class="text-lg font-bold text-gray-800">Détection d'Adénome hypophysaire</h3>
          <p class="text-gray-700 mt-6">Détection précise des adénomes hypophysaires grâce à nos algorithmes avancés de deep learning.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--... contenu de la page... -->
<section class="font-[sans-serif] py-20 bg-white relative overflow-hidden">
  <div class="max-w-5xl max-lg:max-w-3xl mx-auto">
    <div class="text-center">
      <h2 class="text-gray-800 text-3xl font-bold mb-3">Choose a Subscription</h2>
      <p class="text-sm text-gray-500">Change your plan according to your needs</p>
    </div>

    <div class="flex mx-auto mt-12 bg-gray-100 rounded-full max-w-[200px]">
      <button [ngClass]="{'bg-blue-600 text-white': activeButton === 'hopital', 'text-gray-500': activeButton !== 'hopital'}" class="w-full text-sm py-2.5 px-5 rounded-full" (click)="onHopitalClick()">
        Hopital</button>
      <button [ngClass]="{'bg-blue-600 text-white': activeButton === 'clinique', 'text-gray-500': activeButton !== 'clinique'}" class="w-full text-sm py-2.5 px-5 rounded-full" (click)="onCliniqueClick()">
        Clinique</button>
    </div>

    <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-6 mt-6 max-sm:max-w-sm max-sm:mx-auto">
      <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] rounded-lg overflow-hidden transition-all duration-500 hover:scale-105">
        <div class="h-32 bg-gray-700 text-center p-4">
          <h3 class="text-2xl text-white mb-1">Basic</h3>
          <p class="text-xs text-white">1 Month</p>
        </div>

        <div class="h-24 w-24 mx-auto -mt-12 shadow-xl rounded-full bg-gray-700 text-white border-[3px] flex flex-col items-center justify-center border-white">
          <h3 class="text-2xl">{{ activeButton === 'hopital' ? '$19' : '$' + (19 + 10) }}</h3>
        </div>

        <div class="px-6 py-4 mt-4">
          <ul class="space-y-4">
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection de Glioblastome
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection de Méningiome
            </li>
            <li class="flex items-center text-sm text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                  <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
                </svg>
                Détection d'Adénome hypophysaire
              </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Support de base
            </li>
          </ul>

          <button type="button" class="w-full mt-8 px-5 py-2.5 text-sm text-white bg-gray-700 hover:bg-gray-800 rounded-full">Get Started</button>
        </div>
      </div>

      <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] rounded-lg overflow-hidden transition-all duration-500 hover:scale-105 relative">
        <span class="px-2 py-1 text-[10px] font-semibold text-white bg-orange-400 rounded-lg ml-3 absolute -left-4 top-0">Most popular</span>
        <div class="h-32 bg-blue-600 text-center p-4">
          <h3 class="text-2xl text-white mb-1">Standard</h3>
          <p class="text-xs text-white">2 Months</p>
        </div>

        <div class="h-24 w-24 mx-auto -mt-12 shadow-xl rounded-full bg-blue-600 text-white border-[3px] flex flex-col items-center justify-center border-white">
          <p class="text-[10px] font-bold">Save 29%</p>
          <h3 class="text-2xl">{{ activeButton === 'hopital' ? '$49' : '$' + (49 + 15) }}</h3>
        </div>

        <div class="px-6 py-4 mt-4">
          <ul class="space-y-4">
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection de Glioblastome
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection de Méningiome
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection d'Adénome hypophysaire
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Support standard
            </li>
          </ul>

          <button type="button" class="w-full mt-8 px-5 py-2.5 text-sm text-white bg-blue-600 hover:bg-blue-700 rounded-full">Get Started</button>
        </div>
      </div>

      <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] rounded-lg overflow-hidden transition-all duration-500 hover:scale-105">
        <div class="h-32 bg-pink-700 text-center p-4">
          <h3 class="text-2xl text-white mb-1">Premium</h3>
          <p class="text-xs text-white">3 Months</p>
        </div>

        <div class="h-24 w-24 mx-auto -mt-12 shadow-xl rounded-full bg-pink-700 text-white border-[3px] flex flex-col items-center justify-center border-white">
          <p class="text-[10px] font-bold">Save 33%</p>
          <h3 class="text-2xl">{{ activeButton === 'hopital' ? '$99' : '$' + (99 + 20) }}</h3>
        </div>

        <div class="px-6 py-4 mt-4">
          <ul class="space-y-4">
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection de Glioblastome
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection de Méningiome
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Détection d'Adénome hypophysaire
            </li>
            <li class="flex items-center text-sm text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000" />
              </svg>
              Support premium
            </li>
          </ul>

          <button type="button" class="w-full mt-8 px-5 py-2.5 text-sm text-white bg-pink-700 hover:bg-pink-800 rounded-full">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="payment-modes mt-2 mb-28">
  <div class="payment-logos overflow-hidden relative">
    <div class="logos-container flex space-x-[100px] animate-marquee-slow">
      <img src="assets/visa.png" alt="Visa" class="h-20 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/mastercard.png" alt="Mastercard" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/free.png" alt="free" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/om.png" alt="Orange Money" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/wave.png" alt="Wave" class="h-20 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/uba.png" alt="UBA" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <!-- Add more payment logos as needed -->
      <!-- Duplicate logos for smooth scrolling -->
      <img src="assets/visa.png" alt="Visa" class="h-20 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/mastercard.png" alt="Mastercard" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/free.png" alt="free" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/om.png" alt="Orange Money" class="h-28 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/wave.png" alt="Wave" class="h-20 transform transition-transform duration-500 hover:scale-110">
      <img src="assets/uba.png" alt="UBA" class="h-28 transform transition-transform duration-500 hover:scale-110">
    </div>
  </div>
</section>

<style>
@keyframes marquee-slow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-slow {
  animation: marquee-slow 30s linear infinite;
  display: flex;
  align-items: center;
}

.payment-logos img {
  transition: transform 0.5s ease-in-out;
}

.payment-logos img:hover {
  transform: scale(1.1);
}
</style>



<!-- Footer -->
<footer class="relative text-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-24 pt-72">
  <video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover z-0">
    <source src="assets/small.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="relative flex flex-col md:flex-row z-10">
    <div class="w-full lg:w-2/6 lg:mx-4 lg:pr-8">
      <h3 class="font-bold text-2xl">SaaS ZETA</h3>
      <p class="text-gray-400">L'IA au service de la médecine Sénégalaise et Africaine.</p>

      <form class="flex items-center mt-6">
        <div class="w-full">
          <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="grid-last-name">
            Subscribe for our Newsletter
          </label>
          <div class="relative">
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="email" placeholder="Enter Your Email Address">
            <button type="submit" class="bg-teal-500 hover:bg-teal-400 text-white px-4 py-2 text-sm font-bold rounded absolute top-0 right-0 my-2 mr-2">Subscribe</button>
          </div>
        </div>
      </form>
    </div>

    <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
      <h5 class="uppercase tracking-wider font-semibold">Detection</h5>
      <ul class="mt-4">
        <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Glioblastome</a></li>
        <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Meningiome</a></li>
        <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Hypophysaire</a></li>
      </ul>
    </div>

    <div class="w-full lg:w-2/6 mt-8 lg:mt-0 lg:mx-4 lg:pr-8">
      <h5 class="uppercase tracking-wider font-semibold">Contact Details</h5>
      <ul class="mt-4">
        <li>
          <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z"></path>
              </svg>
            </span>
            <span class="ml-3">
              Sud Foire, DAKAR, SENEGAL
            </span>
          </a>
        </li>
        <li class="mt-4">
          <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z"></path>
                <path d="M13 7L11 7 11 13 17 13 17 11 13 11z"></path></svg>
            </span>
            <span class="ml-3">
              Mon - Fri: 9:00 - 18:00<br>
              Closed on Weekends
            </span>
          </a>
        </li>
        <li class="mt-4">
          <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z"></path>
              </svg>
            </span>
            <span class="ml-3">
              +221 33 999 90 91
            </span>
          </a>
        </li>
        <li class="mt-4">
          <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z"></path>
              </svg>
            </span>
            <span class="ml-3">
              support&#64;zeta.com
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
      <h5 class="uppercase tracking-wider font-semibold">We're Social</h5>
      <ul class="mt-4 flex">
        <li>
          <a href="#" target="_blank" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
              <path d="M20,3H4C3.447,3,3,3.448,3,4v16c0,0.552,0.447,1,1,1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325,1.42-3.592,3.5-3.592	c0.699-0.002,1.399,0.034,2.095,0.107v2.42h-1.435c-1.128,0-1.348,0.538-1.348,1.325v1.735h2.697l-0.35,2.725h-2.348V21H20	c0.553,0,1-0.448,1-1V4C21,3.448,20.553,3,20,3z"></path>
            </svg>
          </a>
        </li>

        <li class="ml-6">
          <a href="#" target="_blank" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
              <path d="M19.633,7.997c0.013,0.175,0.013,0.349,0.013,0.523c0,5.325-4.053,11.461-11.46,11.461c-2.282,0-4.402-0.661-6.186-1.809	c0.324,0.037,0.636,0.05,0.973,0.05c1.883,0,3.616-0.636,5.001-1.721c-1.771-0.037-3.255-1.197-3.767-2.793	c0.249,0.037,0.499,0.062,0.761,0.062c0.361,0,0.724-0.05,1.061-0.137c-1.847-0.374-3.23-1.995-3.23-3.953v-0.05	c0.537,0.299,1.16,0.486,1.82,0.511C3.534,9.419,2.823,8.184,2.823,6.787c0-0.748,0.199-1.434,0.548-2.032	c1.983,2.443,4.964,4.04,8.306,4.215c-0.062-0.3-0.1-0.611-0.1-0.923c0-2.22,1.796-4.028,4.028-4.028	c1.16,0,2.207,0.486,2.943,1.272c0.91-0.175,1.782-0.512,2.556-0.973c-0.299,0.935-0.936,1.721-1.771,2.22	c0.811-0.088,1.597-0.312,2.319-0.624C21.104,6.712,20.419,7.423,19.633,7.997z"></path>
            </svg>
          </a>
        </li>

        <li class="ml-6">
          <a href="#" target="_blank" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
              <path d="M20.947,8.305c-0.011-0.757-0.151-1.508-0.419-2.216c-0.469-1.209-1.424-2.165-2.633-2.633 c-0.699-0.263-1.438-0.404-2.186-0.42C14.747,2.993,14.442,2.981,12,2.981s-2.755,0-3.71,0.055 c-0.747,0.016-1.486,0.157-2.185,0.42C4.896,3.924,3.94,4.88,3.472,6.089C3.209,6.788,3.067,7.527,3.053,8.274 c-0.043,0.963-0.056,1.268-0.056,3.71s0,2.754,0.056,3.71c0.015,0.748,0.156,1.486,0.419,2.187 c0.469,1.208,1.424,2.164,2.634,2.632c0.696,0.272,1.435,0.426,2.185,0.45c0.963,0.043,1.268,0.056,3.71,0.056s2.755,0,3.71-0.056 c0.747-0.015,1.486-0.156,2.186-0.419c1.209-0.469,2.164-1.425,2.633-2.633c0.263-0.7,0.404-1.438,0.419-2.187 c0.043-0.962,0.056-1.267,0.056-3.71C21.003,9.572,21.003,9.262,20.947,8.305z M11.994,16.602c-2.554,0-4.623-2.069-4.623-4.623 s2.069-4.623,4.623-4.623c2.552,0,4.623,2.069,4.623,4.623S14.546,16.602,11.994,16.602z M16.801,8.263 c-0.597,0-1.078-0.482-1.078-1.078s0.481-1.078,1.078-1.078c0.595,0,1.077,0.482,1.077,1.078S17.396,8.263,16.801,8.263z"></path>
              <circle cx="11.994" cy="11.979" r="3.003"></circle></svg>
          </a>
        </li>

        <li class="ml-6">
          <a href="#" target="_blank" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
              <path d="M21.593,7.203c-0.23-0.858-0.905-1.535-1.762-1.766C18.265,5.007,12,5,12,5S5.736,4.993,4.169,5.404	c-0.84,0.229-1.534,0.921-1.766,1.778c-0.413,1.566-0.417,4.814-0.417,4.814s-0.004,3.264,0.406,4.814	c0.23,0.857,0.905,1.534,1.763,1.765c1.582,0.43,7.83,0.437,7.83,0.437s6.265,0.007,7.831-0.403c0.856-0.23,1.534-0.906,1.767-1.763	C21.997,15.281,22,12.034,22,12.034S22.02,8.769,21.593,7.203z M9.996,15.005l0.005-6l5.207,3.005L9.996,15.005z"></path>
            </svg>
          </a>
        </li>
      </ul>

      <p class="text-sm text-gray-400 mt-12">© 2024 Mariama FALL & Abdoulaye NIASSE <br class="hidden lg:block">All Rights Reserved.
      </p>
    </div>
  </div>
</footer>








</main>
