.admin-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.sidebar {
    flex: 0 0 250px; /* Fixed width for sidebar */
}

.header {
    flex: 0 0 70px; /* Fixed height for header */
    width: calc(100% - 250px); /* Adjust width to be next to sidebar */
}

.content {
    flex: 1; /* Takes remaining space */
    overflow-y: auto;
}

