<div class="px-4 sm:px-10">
    <div class="mt-16 max-w-4xl mx-auto text-center relative z-10">
      <h1 class="md:text-6xl text-4xl font-extrabold mb-6 md:!leading-[75px]">Build Landing Pages with Typeform
        Integration</h1>
      <p class="text-base">Embark on a gastronomic journey with our curated dishes, delivered promptly to your
        doorstep. Elevate your dining experience today. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="mt-10">
        <a href="/pricing" class='px-6 py-3 rounded-xl text-white bg-cyan-900 transition-all hover:bg-cyan-800'>Get started today</a>
      </div>
    </div>
    <hr class="my-12 border-gray-300">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 items-center">
      <img src="https://readymadeui.com/google-logo.svg" class="w-28 mx-auto" alt="google-logo">
      <img src="https://readymadeui.com/facebook-logo.svg" class="w-28 mx-auto" alt="facebook-logo">
      <img src="https://readymadeui.com/linkedin-logo.svg" class="w-28 mx-auto" alt="linkedin-logo">
      <img src="https://readymadeui.com/pinterest-logo.svg" class="w-28 mx-auto" alt="pinterest-logo">
    </div>
  </div>