<div class="mt-32 max-w-7xl mx-auto">
    <div class="text-center">
      <h2 class="md:text-4xl text-3xl font-extrabold">Choose a Subscription</h2>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-8 mt-16 max-md:max-w-lg max-md:mx-auto">
      <div class="bg-white rounded sm:p-6 p-4">
        <h3 class="text-xl font-semibold">Free</h3>
        <p class="mt-2">Ideal for individuals who need quick access to basic features.</p>
        <div class="mt-6">
          <h2 class="text-4xl font-semibold">$0<span class="text-gray-500 ml-2 text-[15px]">/ Month</span></h2>
          <button type="button" class="w-full mt-6 px-6 py-3 rounded-xl text-white bg-cyan-900 transition-all hover:bg-cyan-800">Get
            Started</button>
        </div>
        <div class="mt-6">
          <h4 class="text-base font-bold mb-4">Plan Includes</h4>
          <ul class="space-y-5">
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              50 Image generations
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              500 Credits
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Monthly 100 Credits Free
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Customer Support
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Dedicated Server
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Priority Generations
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              50GB Cloud Storage
            </li>
          </ul>
        </div>
      </div>
      <div class="bg-blue-600 rounded sm:p-6 p-4 text-white shadow-lg shadow-blue-300">
        <h3 class="text-xl font-semibold">Professional</h3>
        <p class="mt-2">Ideal for individuals who who need advanced features and tools for client work.</p>
        <div class="mt-6">
          <h2 class="text-4xl font-semibold">$25<span class="text-gray-200 ml-2 text-[15px]">/ Month</span></h2>
          <button type="button" class="w-full mt-6 px-6 py-3 rounded-xl text-black bg-white transition-all hover:bg-gray-100">Get
            Started</button>
        </div>
        <div class="mt-6">
          <h4 class="text-base font-bold mb-4">Plan Includes</h4>
          <ul class="space-y-5">
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              500 Image generations
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              300 Credits
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Monthly 1000 Credits Free
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Customer Support
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Dedicated Server
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Priority Generations
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-white" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              500GB Cloud Storage
            </li>
          </ul>
        </div>
      </div>
      <div class="bg-white rounded sm:p-6 p-4">
        <h3 class="text-xl font-semibold">Enterprise</h3>
        <p class="mt-2">Ideal for businesses who need personalized services and security for large teams.</p>
        <div class="mt-6">
          <h2 class="text-4xl font-semibold">$100<span class="text-gray-500 ml-2 text-[15px]">/ Month</span></h2>
          <button type="button" class="w-full mt-6 px-6 py-3 rounded-xl text-white bg-cyan-900 transition-all hover:bg-cyan-800">Get
            Started</button>
        </div>
        <div class="mt-6">
          <h4 class="text-base font-bold mb-4">Plan Includes</h4>
          <ul class="space-y-5">
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              5000 Image generations
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              10000 Credits
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Monthly 2000 Credits Free
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Customer Support
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Dedicated Server
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              Priority Generations
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" class="mr-4 fill-green-500" viewBox="0 0 24 24">
                <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" data-original="#000000"></path>
              </svg>
              1000GB Cloud Storage
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>