<div class="container mx-auto" *ngIf="showForm">
    <br><br>
    <h4 class="text-lg font-semibold">Edit User</h4>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div class="flex flex-wrap">
        <div class="form-group mb-4 w-full md:w-1/4">
          <input type="text" formControlName="fullName" class="form-control form-control-lg w-full p-2 border border-gray-300 rounded" placeholder="Full Name">
        </div>
        <div class="form-group mb-4 w-full md:w-1/4">
          <input type="email" formControlName="email" class="form-control form-control-lg w-full p-2 border border-gray-300 rounded" placeholder="Email">
        </div>
        <div class="form-group mb-4 w-full md:w-1/4 mx-2">
          <input type="text" formControlName="type" class="form-control form-control-lg w-full p-2 border border-gray-300 rounded" placeholder="Type">
        </div>
        <div class="form-group mb-4 w-full md:w-1/4 mx-2">
          <input type="text" formControlName="isPremium" class="form-control form-control-lg w-full p-2 border border-gray-300 rounded" placeholder="Premium">
        </div>
        <button type="submit" class="btn btn-primary btn-sm bg-blue-500 text-white py-2 px-4 rounded">Save Changes</button>
      </div>
    </form>
  </div>
  <br>
  <div class="container mx-auto">
    <table class="table-auto w-full mt-4">
      <thead>
        <tr>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Full Name</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" class="border-t">
          <td class="px-4 py-2">{{ i + 1 }}</td>
          <td class="px-4 py-2">{{ user.fullName }}</td>
          <td class="px-4 py-2">{{ user.email }}</td>
          <td class="px-4 py-2">{{ user.type }}</td>
          <td class="px-4 py-2 flex space-x-2">
            <div class="edit cursor-pointer text-blue-500" (click)="editUser(user)"><i class="bi bi-pencil-square"></i></div>
            <div class="delete cursor-pointer text-red-500" *ngIf="user._id" (click)="deleteUser(user._id)"><i class="bi bi-trash3-fill"></i></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>