<section class="rounded-lg shadow-sm shadow-gray-300 bg-white p-5 m-5 mt-0">
    <header class="flex items-center mt-2.5">
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 shrink-0 w-5 h-5 text-gray-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 19l16 0"></path>
        <path d="M4 15l4 -6l4 2l4 -5l4 4"></path>
      </svg>
      <h3 class="font-medium text-lg">Model Metrics</h3>
    </header>
    <section class="py-4 grid grid-cols-2 gap-x-6">
      <div class="flex items-center py-3">
        <div class="space-y-3 flex-1">
          <div class="flex items-center">
            <h4 class="font-medium text-sm mr-auto text-gray-700">
              mAP
            </h4>
            <span class="px-2 py-1 rounded-lg bg-green-50 text-green-700 text-xs">
              0.82
            </span>
          </div>
          <div class="overflow-hidden bg-blue-50 h-1.5 rounded-full w-full">
            <div class="h-full bg-blue-500 block rounded-full transition-width duration-500 ease-in-out" style="width: 82%"></div>
          </div>
        </div>
      </div>
      <div class="flex items-center py-3">
        <div class="space-y-3 flex-1">
          <div class="flex items-center">
            <h4 class="font-medium text-sm mr-auto text-gray-700">
              Precision
            </h4>
            <span class="px-2 py-1 rounded-lg bg-blue-50 text-blue-700 text-xs">
              0.76
            </span>
          </div>
          <div class="overflow-hidden bg-green-50 h-1.5 rounded-full w-full">
            <div class="h-full bg-green-500 block rounded-full transition-width duration-500 ease-in-out" style="width: 76%"></div>
          </div>
        </div>
      </div>
      <div class="flex items-center py-3 border-t border-gray-100">
        <div class="space-y-3 flex-1">
          <div class="flex items-center">
            <h4 class="font-medium text-sm mr-auto text-gray-700">
              Recall
            </h4>
            <span class="px-2 py-1 rounded-lg bg-red-50 text-red-700 text-xs">
              0.65
            </span>
          </div>
          <div class="overflow-hidden bg-green-50 h-1.5 rounded-full w-full">
            <div class="h-full bg-red-500 block rounded-full transition-width duration-500 ease-in-out" style="width: 65%"></div>
          </div>
        </div>
      </div>
      <div class="flex items-center py-3 border-t border-gray-100">
        <div class="space-y-3 flex-1">
          <div class="flex items-center">
            <h4 class="font-medium text-sm mr-auto text-gray-700">
              Loss
            </h4>
            <span class="px-2 py-1 rounded-lg bg-yellow-50 text-yellow-700 text-xs">
              0.24
            </span>
          </div>
          <div class="overflow-hidden bg-yellow-50 h-1.5 rounded-full w-full">
            <div class="h-full bg-yellow-500 block rounded-full transition-width duration-500 ease-in-out" style="width: 24%"></div>
          </div>
        </div>
      </div>
    </section>
  </section>
